#if($!header=='index')
<!-- BootStrap4 样式 -->
<link rel="stylesheet" href="/frame/bootstrap/bootstrap.min.css" >
<!-- JQuery 3.1.1 -->
<script src="/frame/jquery/jquery.min.js"></script>
<!-- BootStrap4 JS -->
<script src="/frame/bootstrap/tether.min.js"></script>
<script src="/frame/bootstrap/bootstrap.min.js"></script>
<!-- Vue2.1.1 框架 -->
<script src="/frame/vue/vue.js"></script>
<script src="/frame/vue/vue-resource.js"></script>
<!-- 自定义JS组件 -->
<script src="/custom/js/show.js"></script>
<script src="/custom/js/vue_respmsg.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script> -->

<!-- 语法高亮编辑 文件 -->
<link rel="stylesheet" href="/frame/codemirror/lib/codemirror.css" />
<script src="/frame/codemirror/lib/codemirror.js"></script>
<!-- 设置JavaScript高亮 文件 -->
<script src="/frame/codemirror/mode/javascript/javascript.js"></script>
#end

#if($!header=='gencode')
<!-- BootStrap4 样式 -->
<link rel="stylesheet" href="/frame/bootstrap/bootstrap.min.css" >
<!-- JQuery 3.1.1 -->
<script src="/frame/jquery/jquery.min.js"></script>
<!-- BootStrap4 JS -->
<script src="/frame/bootstrap/tether.min.js"></script>
<script src="/frame/bootstrap/bootstrap.min.js"></script>
<!-- Vue2.1.1 框架 -->
<script src="/frame/vue/vue.js"></script>
<script src="/frame/vue/vue-resource.js"></script>
<!-- 自定义JS组件 -->
<script src="/custom/js/show.js"></script>
<script src="/custom/js/vue_respmsg.js"></script>
<!-- 语法高亮显示 文件 -->
<!-- <link rel="stylesheet" href="/frame/google-code-prettify/prettify.css" type="text/css" />
<script type="text/javascript" src="/frame/google-code-prettify/prettify.js"></script> -->
<!-- 语法高亮编辑 文件 -->
<link rel="stylesheet" href="/frame/codemirror/lib/codemirror.css" />
<script src="/frame/codemirror/lib/codemirror.js"></script>
<!-- 设置XML高亮 文件 -->
<script src="/frame/codemirror/mode/xml/xml.js"></script>
<!-- 设置JavaScript高亮 文件 -->
<script src="/frame/codemirror/mode/javascript/javascript.js"></script>
<!-- 设置Java高亮 文件 -->
<script src="/frame/codemirror/mode/clike/clike.js"></script>
<!-- 设置SQL高亮 文件 -->
<script src="/frame/codemirror/mode/sql/sql.js"></script>
#end