<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#">GenCode Project</a>
    <nav class="navbar-nav pull-left">
    	<a class="nav-item nav-link" href="/layout_config.html">Config</a>
    	<a class="nav-item nav-link" href="/layout_background.html">后端代码</a>
    	<a class="nav-item nav-link" href="/layout_foreground.html">前端代码</a>
    	<a class="nav-item nav-link" href="/layout_development.html">运维代码</a>
        <a class="nav-item nav-link" href="javascript:alert('GenCode云端在线代码生成器\n\n版本：v0.5');">About</a>
        <a class="nav-item nav-link" href="javascript:alert('作者：CheneyXu(许宇帅)\n\nEmail：457299596@qq.com');">Contact</a>
    </nav>
</nav>
