<div id="daocode">
    <h1 class="page-header">{{title}}</h1>
    <div class="input-group col-lg-6">
        <div class="input-group-addon">Prefix</div>
        <input class="form-control" type="text" placeholder="Example: input 'User' if you want 'UserDao'" v-model="query.prefix">
    </div>
    <br/>
     <br/>
    <div class="col-lg-12">
        <button id="addMethod" type="button" class="btn btn-default" @click="addMethod()">Add Method</button>
        <button id="genCode" type="button" class="btn btn-default" @click="genCode">Gen Code</button>
        <button id="exportCode" type="button" class="btn btn-default">Export Code</button>
    </div>
    <br/>
    <br/>
    <div class="col-lg-12">
    	<textarea class="form-control" id="myTextarea" v-model="query.json"></textarea>
    </div>
    <br/>
    <div class="col-lg-6">
        <pre id="codeLeft" class="prettyprint">
		</pre>
    </div>
    <div class="col-lg-6">
        <pre id="codeRight" class="prettyprint">
		</pre>
    </div>
</div>
<script>
Vue.http.options.emulateJSON = true;
$(function() {
    new Vue({
        el: '#daocode',
        data: {
            genUrl: '/gencode/java/gendao.json',
            title: 'Dao',
            query: {
                prefix: '',
                json: ''
            },
            codeLeft: '',
            codeRight:'',
            // 返回信息
            respMsg: ''
        },
        methods: {
            genCode: function() {
                var vm = this
                // 设置XML
                vm.query.json = editor.getValue()
                vm.$http.post(vm.genUrl, vm.query)
                    .then((sucResp) => {
                        vm.codeLeft = sucResp.data.interfaceCode
                        vm.codeRight = sucResp.data.mapperCode
                        cmLeft.setValue(vm.codeLeft)
                        cmLeft.setSize('auto', 'auto')
                        cmRight.setValue(vm.codeRight)
                        cmRight.setSize('auto', 'auto')
                    }, (errResp) => {
                        vm.respMsg = errResp.data
                    });
            },
            addMethod: function(){
            	var str = editor.getValue()
            	var sn = str.indexOf(']') - 1
            	str = insertString(str,insertStr,sn)
                editor.setValue(str)
            }
        }
    });
    // 加载高亮代码编辑器
    var editor = CodeMirror.fromTextArea(myTextarea, {
        mode: "javascript",
        json: true,
        lineWrapping: true,
        smartIndent: false,
        lineNumbers: true
    });
    //var defaultstr = '<method returnType="int" inParamTypes="String" inParams="name">methodName</method>' + '\n';
    var insertStr = ','+'\n'+'{"name":"methodName","inParamMap":{"parm":"String"},"returnType":"int"}';
    var defaultstr = '['+'\n'+ '{"name":"methodName","inParamMap":{"parm":"String"},"returnType":"int"}' +'\n'+']'
    if (editor.getValue() == '') {
        editor.setValue(defaultstr);
    }
    
 	// 左侧区域代码编辑框
    var cmLeft = CodeMirror(codeLeft, {
	    mode: "text/x-java",
	    lineWrapping: true,
	    htmlMode: true,
	    smartIndent: false,
	    lineNumbers: true
	});
 	// 右区域代码编辑框
    var cmRight = CodeMirror(codeRight, {
	    mode: "text/x-java",
	    lineWrapping: true,
	    htmlMode: true,
	    smartIndent: false,
	    lineNumbers: true
	});
});
// 插入字符串
function insertString(str,insertStr,sn){
    var newstr="";
    var begin=str.substring(0,sn);
    var end=str.substring(sn,str.length);
    newstr = begin + insertStr + end;
    return newstr;
}
</script>
