<div id="entitycode">
    <h1 class="page-header">{{title}}</h1>
    <div class="input-group col-lg-6">
        <div class="input-group-addon">Table Prefix</div>
        <input class="form-control" type="text" placeholder="Example: input 'TABLE_' if tablename like 'TABLE_*'" v-model="query.prefix">
    </div>
    <br/>
    <br/>
    <div class="input-group col-lg-6">
        <div class="input-group-addon">Extends</div>
        <input class="form-control" type="text" placeholder="Example: input 'BaseEntity' if you want '*Entity extends BaseEntity'" v-model="query.extendsClass">
    </div>
    <br/>
    <br/>
    <div class="input-group col-lg-6">
        <div class="input-group-addon">Implements</div>
        <input class="form-control" type="text" placeholder="Example: input 'Serializable' if you want '*Entity implements Serializable'" v-model="query.implementsInterface">
    </div>
    <br/>
    <br/>
    <div class="col-lg-12">
        <button type="button" class="btn btn-default" @click="genCode">Gen Code</button>
        <button type="button" class="btn btn-default">Export Code</button>
    </div>
    <br/>
    <br/>
    <div class="col-lg-6">
        <textarea class="form-control" id="myTextarea" v-model="query.createTableSql"></textarea>
    </div>
    <div class="col-lg-6">
        <textarea class="form-control" id="myTextarea2" v-model="query.columnCommentSql"></textarea>
    </div>
    <div class="col-lg-12">
        <pre id="codeLeft" class="prettyprint">
		</pre>
    </div>
</div>
<script>
Vue.http.options.emulateJSON = true;
$(function() {
    new Vue({
        el: '#entitycode',
        data: {
            genUrl: '/gencode/java/genentity.json',
            title: 'Entity',
            query: {
                prefix: '',
                extendsClass: '',
                implementsInterface: '',
                createTableSql: '',
                columnCommentSql: ''
            },
            codeLeft: '',
            // 返回信息
            respMsg: ''
        },
        methods: {
            genCode: function() {
                var vm = this
                    // 设置XML
                vm.query.createTableSql = editor.getValue()
                vm.query.columnCommentSql = editor2.getValue()
                vm.$http.post(vm.genUrl, vm.query)
                    .then((sucResp) => {
                        vm.codeLeft = sucResp.data.code
                        //等待100毫秒后执行代码高亮渲染
                        //setTimeout("prettyPrint()", 100)
                        cmLeft.setValue(vm.codeLeft)
                        cmLeft.setSize('auto', 'auto')
                    }, (errResp) => {
                        vm.respMsg = errResp.data
                    });
            }
        }
    });
    // 加载高亮代码编辑器
    var editor = CodeMirror.fromTextArea(myTextarea, {
        mode: "sql",
        lineWrapping: "true",
        smartIndent: false,
        lineNumbers: true
    });
    editor.setSize('auto', 'auto');
    var editor2 = CodeMirror.fromTextArea(myTextarea2, {
        mode: "sql",
        lineWrapping: "true",
        smartIndent: false,
        lineNumbers: true
    });
    editor2.setSize('auto', 'auto');

    var defaultstr = 'create table TABLE_USER\n(\nID NUMBER(12) NOT NULL,\nUSER_NAME VARCHAR2(255) NOT NULL,\nPASSWORD VARCHAR2(255) NOT NULL\n);';
    var defaultstr2 = 'COMMENT ON COLUMN TABLE_USER.ID IS "主键";\nCOMMENT ON COLUMN TABLE_USER.USER_NAME IS "用户名";\nCOMMENT ON COLUMN TABLE_USER.PASSWORD IS "密码";\n';
    if (editor.getValue() == '') {
        editor.setValue(defaultstr);
    }
    if (editor2.getValue() == '') {
        editor2.setValue(defaultstr2);
    }
    
 	// 左侧区域代码编辑框
    var cmLeft = CodeMirror(codeLeft, {
	    mode: "text/x-java",
	    lineWrapping: true,
	    htmlMode: true,
	    smartIndent: false,
	    lineNumbers: true
	}); 
});
</script>
