<div id="entitycode">
    <h1 class="page-header">{{title}}</h1>
    <div class="col-lg-12">
        <textarea class="form-control" id="jsonTextarea" v-model="query.json"></textarea>
    </div>
    <br/>
    <br/>
    <div class="col-lg-12">
        <button type="button" class="btn btn-default" @click="genCode">Gen Code</button>
        <button type="button" class="btn btn-default">Export Code</button>
    </div>
    <br/>
    <br/>
    <div class="row">
	    <div class="col-lg-6">
	        <textarea class="form-control" id="myTextarea" v-model="query.createTableSql"></textarea>
	    </div>
	    <div class="col-lg-6">
	        <textarea class="form-control" id="myTextarea2" v-model="query.columnCommentSql"></textarea>
	    </div>
    </div>
    <div class="row">
	    <div class="col-lg-6">
	        <pre id="codeLeft" class="prettyprint">
			</pre>
	    </div>
	    <div class="col-lg-6">
	        <pre id="codeRight" class="prettyprint">
			</pre>
	    </div>
    </div>
</div>
<script>
Vue.http.options.emulateJSON = true;
$(function() {
    new Vue({
        el: '#entitycode',
        data: {
            genUrl: '/gencode/java/genentity.json',
            title: 'Entity',
            query: {
                json:'',
                createTableSql: '',
                columnCommentSql: ''
            },
            codeLeft: '',
            codeRight:'',
            // 返回信息
            respMsg: ''
        },
        methods: {
            genCode: function() {
                var vm = this
                    // 设置XML
                vm.query.json = editorJson.getValue()
                vm.query.createTableSql = editor.getValue()
                vm.query.columnCommentSql = editor2.getValue()
                vm.$http.post(vm.genUrl, vm.query)
                    .then((sucResp) => {
                        vm.codeLeft = sucResp.data.classCode
                        vm.codeRight = sucResp.data.mapperCode
                        //等待100毫秒后执行代码高亮渲染
                        //setTimeout("prettyPrint()", 100)
                        cmLeft.setValue(vm.codeLeft)
                        cmLeft.setSize('auto', 'auto')
                        cmRight.setValue(vm.codeRight)
                        cmRight.setSize('auto', 'auto')
                    }, (errResp) => {
                        vm.respMsg = errResp.data
                    });
            }
        }
    });
    // 加载高亮代码编辑器
    var editorJson = CodeMirror.fromTextArea(jsonTextarea, {
    	mode: "javascript",
        json: true,
        lineWrapping: "true",
        smartIndent: false,
        lineNumbers: true
    });
    editorJson.setSize('auto', 'auto');
    var editor = CodeMirror.fromTextArea(myTextarea, {
        mode: "sql",
        lineWrapping: "true",
        smartIndent: false,
        lineNumbers: true
    });
    editor.setSize('auto', 'auto');
    var editor2 = CodeMirror.fromTextArea(myTextarea2, {
        mode: "sql",
        lineWrapping: "true",
        smartIndent: false,
        lineNumbers: true
    });
    editor2.setSize('auto', 'auto');

    var defaultstr = 'create table TABLE_USER\n(\nID NUMBER(12) NOT NULL,\nUSER_NAME VARCHAR2(255) NOT NULL,\nPASSWORD VARCHAR2(255) NOT NULL\n);';
    var defaultstr2 = 'COMMENT ON COLUMN TABLE_USER.ID IS "主键";\nCOMMENT ON COLUMN TABLE_USER.USER_NAME IS "用户名";\nCOMMENT ON COLUMN TABLE_USER.PASSWORD IS "密码";\n';
    if (editorJson.getValue() == '') {
    	editorJson.setValue('{"tablePrefix":"TABLE_","extendsClass":"BaseEntity","implementsInterface":"Serializable"}');
    }
    if (editor.getValue() == '') {
        editor.setValue(defaultstr);
    }
    if (editor2.getValue() == '') {
        editor2.setValue(defaultstr2);
    }
    
 	// 左侧区域代码编辑框
    var cmLeft = CodeMirror(codeLeft, {
	    mode: "text/x-java",
	    lineWrapping: true,
	    htmlMode: true,
	    smartIndent: false,
	    lineNumbers: true
	});
 	// 右侧区域代码编辑框
    var cmRight = CodeMirror(codeRight, {
	    mode: "text/x-java",
	    lineWrapping: true,
	    htmlMode: true,
	    smartIndent: false,
	    lineNumbers: true
	});
});
</script>
