<div id="javacode">
    <h1 class="page-header">{{title}}</h1>
    <!-- 操作提示 -->
	<respmsg :resp-msg="respMsg"></respmsg>
	<div class="row">
	    <div class="input-group col-lg-6">
	        <div class="input-group-addon">Prefix</div>
	        <input class="form-control" type="text" placeholder="Example: input 'User' if you want 'UserService'" v-model="query.prefix">
	    </div>
    </div>
    <br/>
    <div class="row">
	    <div class="col-lg-12">
	        <button id="addMethod" type="button" class="btn btn-default" @click="addMethod">Add Method</button>
	        <button id="genCode" type="button" class="btn btn-default" @click="genCode">Gen Code</button>
	        <button id="exportCode" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="导出功能正在建设中...">Export Code</button>
	    </div>
    </div>
    <br/>
    <div class="row">
	    <div class="col-lg-12">
	    	<textarea class="form-control" id="myTextarea" v-model="query.json"></textarea>
	    </div>
    </div>
    <div class="row">
	    <div class="col-lg-6">
	        <pre id="codeLeft" class="prettyprint">
			</pre>
	    </div>
	    <div class="col-lg-6">
	        <pre id="codeRight" class="prettyprint">
			</pre>
	    </div>
    </div>
</div>
<script>
Vue.http.options.emulateJSON = true;
$(function() {
    new Vue({
        el: '#javacode',
        data: {
            genUrl: '/gencode/java/genservice.json',
            title: 'Service',
            query: {
                prefix: '',
                json: ''
            },
            codeLeft: '',
            codeRight:'',
            // 返回信息
            respMsg: 'Y'
        },
        methods: {
            genCode: function() {
                var vm = this
                // 设置XML
                vm.query.json = editor.getValue()
                vm.$http.post(vm.genUrl, vm.query)
                    .then((sucResp) => {
                    	vm.respMsg = sucResp.data.respMsg
                    	if(vm.respMsg == 'Y'){
	                        vm.codeLeft = sucResp.data.interfaceCode
	                        vm.codeRight = sucResp.data.implCode
	                        cmLeft.setValue(vm.codeLeft)
	                        cmLeft.setSize('auto', 'auto')
	                        cmRight.setValue(vm.codeRight)
	                        cmRight.setSize('auto', 'auto')
                    	}
                    }, (errResp) => {
                        vm.respMsg = errResp.data
                    });
            },
            addMethod: function(){
            	var str = editor.getValue()
            	var sn = str.indexOf(']') - 1
            	str = insertString(str,insertStr,sn)
                editor.setValue(str)
            }
        }
    });
    // 加载高亮代码编辑器
    var editor = CodeMirror.fromTextArea(myTextarea, {
        mode: "javascript",
        json: true,
        lineWrapping: true,
        smartIndent: false,
        lineNumbers: true
    });
    editor.setSize('auto', 'auto');
    //var defaultstr = '<method returnType="int" inParamTypes="String" inParams="name">methodName</method>' + '\n';
    var insertStr = ','+'\n'+'{"name":"methodName","inParamMap":{"parm":"String"},"returnType":"int"}';
    var defaultstr = '['+'\n'+ '{"name":"methodName","inParamMap":{"parm":"String"},"returnType":"int"}' +'\n'+']'
    if (editor.getValue() == '') {
        editor.setValue(defaultstr);
    }
    
 	// 左侧区域代码编辑框
    var cmLeft = CodeMirror(codeLeft, {
	    mode: "text/x-java",
	    lineWrapping: true,
	    htmlMode: true,
	    smartIndent: false,
	    lineNumbers: true
	});
 	// 右区域代码编辑框
    var cmRight = CodeMirror(codeRight, {
	    mode: "text/x-java",
	    lineWrapping: true,
	    htmlMode: true,
	    smartIndent: false,
	    lineNumbers: true
	});
 	// 初始化冒泡提示
    $('[data-toggle="tooltip"]').tooltip();
});
// 插入字符串
function insertString(str,insertStr,sn){
    var newstr="";
    var begin=str.substring(0,sn);
    var end=str.substring(sn,str.length);
    newstr = begin + insertStr + end;
    return newstr;
}
</script>
