package $!parmMap.get('packageName');

/**
 * @Module: $!parmMap.get('interfaceName')
 * @Description: 
 * @author: $!parmMap.get('author')
 * @date: $!parmMap.get('currentTime')
 */
public interface $!parmMap.get('interfaceName'){
#foreach( $!method in $!methods )
	/**	
	 * <p>Title: $!method.name </p>	
	 * <p>author: $!parmMap.get('author') </p>	
	 * <p>date: $!parmMap.get('currentTime') </p>
	 *
#foreach($!inparm in $!method.inParamMap.entrySet())
	 * @param $inparm.value ($inparm.key)
#end
	 * @return $!method.returnType
	 */
	public $!method.returnType $!method.name (#foreach($!inparm in $!method.inParamMap.entrySet())$inparm.value $inparm.key#if($velocityCount != $!method.inParamMap.size()),#end#end);
#end
}